header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 100px;
}

.falchi-navbar-container {
    justify-content: space-between;
    display: flex;
    flex-direction:row;
    align-items:center;
}

.falchi-navbar-container img {
    width: 60px;
}

.falchi-navbar-container p {
    font-size: 25px;
    font-weight: 300;
    color: #FFFAF0;
    padding: 15px 20px 0px 30px;
}