.falchi-add-btn {
    height: 45px;
    width: 45px;
    background: rgba(107, 255, 198, 0.1);
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.falchi-add-btn:hover{
    background: rgba(185, 189, 188, 0.1);
}

.falchi-add-btn img {
    width: 30px;
}